@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 100px auto;
  font-size: 16px;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}

.timetable {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: x-large;
  border-collapse: collapse;
  height: 750px;
  width: 1500px;
  margin-top: 25px;
  table-layout:fixed;
  word-break:break-all;
  table-layout: fixed;
}

.hour {
  border: solid 2px #eec130;
  height: 40px;
}
.now {
  border: double 2px red;
  background-color: dimgray;
  height: 40px;
}
.golden {
  color: #eec130;
  border: solid 2px #eec130;
  width: 200px;
}
.empty {
  background-color: rgb(75, 75, 75);
  border: solid 2px #eec130;
}
.time {
  font-size: medium;
  background-color: rgb(75, 75, 75);
  height: 10px;
  border: solid 2px #eec130;
}
.head-width {
  width: 200px;
  height: 20px;
  border: solid 2px #eec130;
}
.side-height{
  height: 30px;
  border: solid 2px #eec130;
}
.window {
  width: 100%;
  background-color : rgb(106, 114, 161);
}
.cell {
  width: 100%;
  text-align: center;
  max-height: 40px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.editOrSave{
  display :inline-block;
  padding:0.6em 1.8em;
  margin:0 1.2em 1.2em 0;
  border-radius:8em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 30px;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  margin-top: 25px;
}
a.editOrSave:hover{
  background-color:#4095c6;
}

a.logout{
  position: absolute;
  top: 5px;
  right: 5px;
  display :inline-block;
  padding:0.6em 1.8em;
  margin:0 1.2em 1.2em 0;
  border-radius:8em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 20px;
  font-weight:300;
  color:#FFFFFF;
  background-color:#b82020;
  text-align:center;
  transition: all 0.2s;
  margin-top: 25px;
}
a.logout:hover{
  background-color:#a11b1b;
}

a.deleteAccount{
  display: flex;
  align-items: center;
  justify-content: center;
  display :inline-block;
  padding:0.6em 1.8em;
  margin:0 1.2em 1.2em 0;
  border-radius:8em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 20px;
  font-weight:300;
  color:#FFFFFF;
  background-color:#b82020;
  text-align:center;
  transition: all 0.2s;
}
a.deleteAccount:hover{
  background-color:#a11b1b;
}

a.toAdminPage{
  position: absolute;
  top: 5px;
  right: 5px;
  display :inline-block;
  padding:0.6em 1.8em;
  margin:0 1.2em 1.2em 0;
  border-radius:8em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 20px;
  font-weight:300;
  color:#FFFFFF;
  background-color:#5083c7;
  text-align:center;
  transition: all 0.2s;
  margin-top: 100px;
}
a.toAdminPage:hover{
  background-color:#2c71cc;
}

.alignCenter{
  text-align: center;
  vertical-align: middle;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.admintable {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: x-large;
  border-collapse: collapse;
  height: 33%;
  width: 33%;
  margin-top: 25px;
  table-layout:fixed;
  word-break:break-all;
  table-layout: fixed;
}

@media all and (max-width:60em){
  a.button3{
    display:block;
    margin:1em auto;
  }
}

input[type="checkbox"].big {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}